
<div class="row">
  <div class="col-md-9">

  </div>
  <div class="friends-container col-md-3">

    <div class="card friends-card" style="width: 22rem;">
      <div class="card-header">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink class="friends-tab-header"><fa-icon icon="user-friends"></fa-icon> Friends</a>
            <ng-template ngbNavContent>
              <cdk-virtual-scroll-viewport itemSize="51" class="friend-list">
                <ul class="list-group list-group-flush">
                  <li *cdkVirtualFor="let friend of friends" class="list-group-item friend">
                    <fa-icon [icon]="['far', 'user-circle']"></fa-icon> {{friend.username}} <fa-icon class="online-status" [icon]="onlineIcon(friend)" [styles]="onlineStyle(friend)"></fa-icon>
                  </li>
                  <li class="list-group-item"></li>
                </ul>
              </cdk-virtual-scroll-viewport>
            </ng-template>
          </li>
          <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link friends-tab-header" ngbDropdownToggle><fa-icon icon="user-plus"></fa-icon> Add Friend</a>
            <div ngbDropdownMenu>
              <form class="px-4 py-3">
                <div class="form-group">
                  <label for="findUser">Username</label>
                  <input id="findUser" type="text" id="typeahead-prevent-manual-entry" class="form-control" name="findUser" [(ngModel)]="friendToAdd" [ngbTypeahead]="search" [editable]="false" #findUserModel="ngModel"/>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
